/* 
 * variables.css - CSS Variables for consistent styling
 * Part of the Diablo Immortal CSS optimization
 */

:root {
    /* Padding variables */
    --padding-small: 5px;
    --padding-medium: 15px;
    --padding-large: 30px;
    --padding-x-large: 45px;
    
    /* Other spacing variables */
    --margin-small: 5px;
    --margin-medium: 15px;
    --margin-large: 30px;
    --margin-x-large: 45px;
    
    /* Breakpoints */
    --breakpoint-mobile: 1024px;
}

/* Mobile-specific variables */
@media (max-width: 1024px) {
    :root {
        --padding-small: 3px;
        --padding-medium: 5px;
        --padding-large: 10px;
        --padding-x-large: 20px;
        
        --margin-small: 3px;
        --margin-medium: 5px;
        --margin-large: 10px;
        --margin-x-large: 20px;
    }
}